# Hostname / IP address of your XBMC host
livingRoom.host=192.168.0.2

# Port number for the json rpc service (optional, defaults to 8080)
livingRoom.rsPort=8080

# Port number for the web socket service (optional, defaults to 9090)
livingRoom.wsPort=9090

# Username to connect to XBMC. (optional, defaults to none)
livingRoom.username=

# Password to connect to XBMC. (optional, defaults to none)
livingRoom.password=
